body{
  padding: 0;
  margin: 0;
}

.Navbar{
  background-color:#FFF;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px 5%;
}
.Navbar>img{
  width: 60px;
  margin: 0px 20px;
  border-radius: 10px;
}
.container-fluid>a{
  font-weight: 500;
  color: #d69d56;
  transition: all .22s ease;
}
.container-fluid>a:hover{
  color: rgb(22, 22, 32);
  transform: scale(1.05);
}
.collapse>ul>li>a{
  color: rgb(22, 22, 32);
  font-weight: 400;
  transition: all .22s ease;
}
.collapse>ul>li>a:hover{
  color: #d69d56;
  transform: scale(1.05);
}
.input-field {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #d69d56;
}

.select-field {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  appearance: none;
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.select-field:focus {
  border-color: #d69d56;
}

.textarea-field {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  transition: border-color 0.3s ease;
}

.textarea-field:focus {
  border-color: #d69d56;
}

.register-button {
  width: calc(100% - 20px);
  padding: 12px;
  background-color: #d69d56;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #96644a;
}

.login-link {
  color: #333;
  cursor: pointer;
}
.login-container{
  min-height: 100vh;
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 10%;
}
.login-box{
  width: 500px;
  padding: 20px;
  background-color: #FFF;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  opacity: .85;
}
.login-box>h2{
  color: #d69d56;
}
center>h1{
  font-size: 65px;
  font-weight:900;
  font-style: oblique;
  color: #d69d56;
}
.Hero{
  min-height: 100vh;
  background-image: url("./assets/login.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15% 10%;
}
.container{
  background-color: #FFF;
}
@media only screen and (max-width: 650px) {
  .login-box{
    width: 450px;
    padding: 10px;
    margin: 50px 0px;
    gap: 10px;
  }
  .login-container{
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
  }
}

